<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="path" default="$(find openpose_ros)/../openpose/models/"/>
	<arg name="target_frame" default="base_link" />
	<arg name="camera_rgb_topic" default="/xtion/rgb/image_raw" />
	<arg name="camera_depth_topic" default="/xtion/depth_registered/image_raw" />
	<arg name="camera_depth_info_topic" default="/xtion/depth_registered/camera_info" />
	<arg name="subscribe" default="false" /> <!-- If true, subscribe to topics (slighly faster service calls). If false, wait for messages only when needed (far less traffic on topics). -->
	<arg name="visualize" default="true" />
	<arg name="preview" default="false" />
	<arg name="subscribe" default="false" />
	<node name="detect_people_server" pkg="openpose_ros" type="detect_people_server"  output="screen" >
		<param name="image_rgb_topic" value="$(arg camera_rgb_topic)" />
		<param name="image_depth_topic" value="$(arg camera_depth_topic)" />
		<param name="camera_depth_info_topic" value="$(arg camera_depth_info_topic)" />
		<param name="subscribe" value="$(arg subscribe)" />
		<param name="net_input_size_width" value="320" />
		<param name="net_input_size_height" value="160" />
		<param name="net_output_size_width" value="320" />
		<param name="net_output_size_height" value="160" />
		<param name="output_size_width" value="640" />
		<param name="output_size_height" value="480" />
		<param name="scale_number" value="1" />
		<param name="scale_gap" value="0.3" />
        <param name="models_folder" value="$(arg path)" />
		<param name="gpu_id" value="0" />
        <param name="visualize" value="$(arg visualize)" />
		<param name="preview" value="$(arg preview)" />
		<param name="target_frame" value="$(arg target_frame)" />
		<param name="isInMM" value="true" />
	</node>
</launch>
