<launch>
	<arg name="path" default="/media/vol/robocup/tiago-sim/share/openpose/models/"/>
	<node name="detect_people_server" pkg="openpose_ros" type="detect_people_server"  output="screen" >
		<param name="image_rgb_topic" value="/xtion/rgb/image_raw" />
		<param name="image_depth_topic" value="/xtion/depth_registered/image_raw" />
		<param name="camera_depth_info_topic" value="/xtion/depth_registered/camera_info" />
		<param name="net_input_size_width" value="320" />
		<param name="net_input_size_height" value="160" />
		<param name="net_output_size_width" value="320" />
		<param name="net_output_size_height" value="160" />
		<param name="output_size_width" value="640" />
		<param name="output_size_height" value="480" />
		<param name="scale_number" value="1" />
		<param name="scale_gap" value="0.3" />
                <param name="models_folder" value="$(arg path)" />
		<param name="gpu_id" value="0" />
                <param name="visualize" value="true" />
    </node>
</launch>
